html {
  font-family: 'lane', sans-serif;
}


@font-face {
  font-family: lane;
  src:url(../lane.ttf);
}

#header {
    width: 100%;
    height: 100%;
  /*height: 950px;*/
    background: url("../img/matterhorn.jpg") no-repeat center center fixed ;
    background-size: cover;
  }


.section {
  width: 100%;
  height: 100%;
}

#about {
  background: #02C1C1;
}

#portfolio {
  background: #FB4644;

}
#resume {
  background: #FB4644;
}
#contact {
  background: #262E3D;
}

.navbar {
  width: 100%;
  height: 3rem;
  position: fixed;
}

.navbar-right, .navbar-left {
  width: 40rem;
  text-align: center;
  display: inline;
  position: fixed;
}

.navbar-right {
  right: 3rem;
  /*height: 3rem;*/
  /*border: 1px solid white;*/
}

.navbar-left {
  left: 3rem;
}

* {
  /*border: 1px solid red;*/
}

.nav-link {
  position: relative;
  display: inline;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 1rem;
}

.nav-link a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.nav-item {
  display: inline-block;
}

.nav-logo {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid white;
  top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.35rem;
}

.nav-logo:hover{
  background-color: white;
}

#twitter:hover a {
  color:#55ACEE;
}

#google:hover a {
  color:#dd4b39;
}

#git:hover a {
  color:black;
}
#linkedin:hover a {
  color: #007bb6;
}